gradient(startcolor=#fff, endcolor=#000, startx=left, starty=top, endx=left, endy=bottom)
	background-image linear-gradient(startx starty, startcolor 0%, endcolor 100%)
	background-image -o-linear-gradient(startx starty, startcolor 0%, endcolor 100%)
	background-image -moz-linear-gradient(startx starty, startcolor 0%, endcolor 100%)
	background-image -webkit-linear-gradient(startx starty, startcolor 0%, endcolor 100%)
	background-image -ms-linear-gradient(startx starty, startcolor 0%, endcolor 100%)
	background-image -webkit-gradient(linear, startx starty, endx endy, color-stop(0, startcolor), color-stop(1, endcolor))

radial(startcolor=#fff, endcolor=#000, xlocation=center, ylocation=center, innersize=10px, outtersize=50px, shape=circle)
	background-image -moz-radial-gradient(xlocation, shape,  startcolor innersize, endcolor outtersize) 
	background-image -webkit-radial-gradient(xlocation ylocation, shape, startcolor innersize, endcolor outtersize)
	background-image -o-radial-gradient(xlocation ylocation, shape,  startcolor innersize, endcolor outtersize)
	background-image -ms-radial-gradient(xlocation ylocation, shape,  startcolor innersize, endcolor outtersize)
	background-image radial-gradient(xlocation ylocation, shape,  startcolor innersize, endcolor outtersize)
	filter none

repeating-gradient(angle= 0deg, startcolor=#000, startwidth=11px, endcolor=#fff, endwidth=11px, finalwidth=22px)
	background-image -webkit-repeating-linear-gradient(angle, startcolor, startcolor startwidth, endcolor endwidth, endcolor finalwidth)
	background-image -moz-repeating-linear-gradient(angle, startcolor, startcolor startwidth, endcolort endwidth, endcolor finalwidth)
	background-image -o-repeating-linear-gradient(angle, startcolor, startcolor startwidth, endcolor endwidth, endcolor finalwidth)
	background-image repeating-linear-gradient(angle, startcolor, startcolor startwidth, endcolor endwidth, endcolor finalwidth)