@keyframes space
	
	0%
		background-position: 0px 0px

	100%
		background-position: -600px 600px

@keyframes astronaut
	
	0%
		transform: translate(-50px, -50px) rotate(0deg)

	40%
		transform: translate(-60px, -60px) rotate(0deg)

	60%
		transform: translate(200px, 200px) rotate(180deg)

	80%
		transform: translate(200px, 100px) rotate(0deg)

	81%
		transform: translate(200px, 100px) rotate(0deg)

	100%
		transform: translate(-200px, -20px) rotate(180deg)

@keyframes rocket
	
	0%
		transform: translate(0px, 0px)

	100%
		transform: translate(-2px, 2px)

@keyframes rocket2
	
	0%
		margin-top: 0
		margin-left: 0

	100%
		margin-top: 2px
		margin-left: 1px



@keyframes smoke-shake1
	0%
		transform: translate(0, 0)

	100%
		transform: translate(0, 2px)

@keyframes smoke-shake2
	0%
		transform: translate(0, 0)

	100%
		transform: translate(-1px, 2px)

@keyframes smoke-shake3
	0%
		transform: translate(0, 0)

	100%
		transform: translate(1px, -1px)

@keyframes smoke-shake4
	0%
		transform: translate(0, 0)

	100%
		transform: translate(-2px, -1px)

@keyframes smoke-shake5
	0%
		transform: scale(1)

	100%
		transform: scale(.95)