/////////////////////////////////////////////////////////////////////////
// SETTINGS
/////////////////////////////////////////////////////////////////////////

@import "settings"

/////////////////////////////////////////////////////////////////////////
// HELPERS
/////////////////////////////////////////////////////////////////////////

@import "lib/settings"
@import "lib/helpers"
@import "lib/typography"
@import "lib/prefix"
@import "lib/rem"
@import "lib/reset"
// @import "lib/gradients"
// @import "lib/blend"

normalize()
initialize()

@import "lib/bootstrap"

/////////////////////////////////////////////////////////////////////////
// PROJECT MODULES
/////////////////////////////////////////////////////////////////////////

@import "layout"
@import "typography"
@import "animation"

/////////////////////////////////////////////////////////////////////////
// COMPONENTS
/////////////////////////////////////////////////////////////////////////

@import "components/buttons"