/////////////////////////////////////////////////////////////////////////
// VARIABLES
/////////////////////////////////////////////////////////////////////////

IMAGE_PATH					= "../img/"
SUPPORT_IE					= false

FONT_PRIMARY				= unquote("futura-pt, Helvetica Neue, Helvetica, Arial, sans-serif")
FONT_SECONDARY				= unquote("Georgia, serif")
FONT_SIZE					= 20
LINE_HEIGHT_RATIO 			= 1.5

COLOR_BODY_BACKGROUND 		= #FFFFFF
COLOR_BODY_FONT				= #073BC6
COLOR_PRIMARY_BACKGROUND	= #f84b45
COLOR_PRIMARY_FONT			= #FFFFFF
COLOR_SECONDARY_BACKGROUND	= #073BC6
COLOR_SECONDARY_FONT		= #FFFFFF

/////////////////////////////////////////////////////////////////////////
// MEDIA QUERY
/////////////////////////////////////////////////////////////////////////

/**
 * Media Query for retina displays

 @media RETINA_MEDIA
 	.selector
 		background-image: url("image@2x.png")
 		background-size: contain

 */
RETINA_MEDIA = "(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)"