/////////////////////////////////////////////////////////////////////////
// STYLE
/////////////////////////////////////////////////////////////////////////

.btn
	display: inline-block
	text-transform: uppercase
	color: COLOR_PRIMARY_BACKGROUND
	font-weight: bold
	transition: background .5s ease-out-expo, color .5s ease-out-expo

.btn--primary
	background: COLOR_PRIMARY_BACKGROUND
	color: COLOR_PRIMARY_FONT
	height: 60px
	line-height: 60px
	padding: 0px 50px
	font-size: 18
	border-radius: 4px

	&:hover
		color: white
		background: COLOR_SECONDARY_BACKGROUND

.btn--github
	absolute: bottom -30px left 50%
	transform: translate(-50%, 0)

.btn--simple
	border-radius: 3px !important
	padding: 3px 5px
	transition: background .5s ease-out-expo, color .5s ease-out-expo !important
	overflow: hidden
	position: relative

	span
		display: block
		size: 100%

	&:hover
		color: white !important
		background-color: transparent !important

		.fx
			background-color: COLOR_PRIMARY_BACKGROUND !important

	.fx
		border-radius: 3px !important
		background-color: COLOR_PRIMARY_BACKGROUND !important
		transition: opacity .5s ease-out-expo !important

.btn--space
	overflow: hidden
	transition: background 3s ease-out-expo, color 3s ease-out-expo

	span
		position: relative
		z-index: 10

	.fx
		absolute: top left
		z-index: 5
		size: 100%
		bg: "space-normal.png" repeat
		background-color: COLOR_SECONDARY_BACKGROUND
		animation: space 4s linear infinite
		transition: opacity 3s ease-out-expo
		opacity: 0
		border-radius: 6px

		&:after
			content: ""
			absolute: top left
			size: 100%
			bg: "space-far.png" repeat
			animation: space 10s linear infinite

	&:hover
		background: COLOR_SECONDARY_BACKGROUND

		.fx
			opacity: 1
